@import url(../style/fonts.css);

html,body{
    scroll-behavior: smooth;
    margin:0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root{
    /*----- Cores -----*/
    --texto-cinza:#3f4954;
    --texto-claro: #47cf6b;
    --bg-color: #0f0f0f;
    --white:#ffffff;
    --midnight: #104f55;

    /* ----- Gradiente ----- */
    --sky: --linear-gradiente(120deg, #a1c4fd 0%, #c2e9fb, 100%);

    /* ------ Tema das font-family -----*/

    --Abel:'Abel', cursive;
    --Anton:'Anton', cursive;
    --Josefin:'Josefin', cursive;
    --lexend:'Lexend',cursive;
    --Livvic:'Livvic', cursive;
}



/* ---------- Classes Globais ---------- */

a{
    text-decoration: none; 
    color: var(--texto-cinza);
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: var(--texto-cinza);
}
/* ----X----- Classes Globais -----X---- */

/*---------- navbar ----------*/

.nav{
    background: white;
    padding: 0 2rem;
    height: 0rem;
    min-height: 15vh;
    overflow: hidden;

    -webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
}

.nav .nav-menu{
    justify-content: space-between;
}

.nav .toggle-collapse{
    position: absolute;
    top:0;
    width: 90%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.collapse{
   height: 20rem; 
}

.nav .toggle-collapse .toggle-icons i{
    font-size: 1.4rem;
    color: var(--texto-cinza);
}

nav .nav-itens{
    list-style-type: none;
    display: flex;
    margin: 0;
}

.nav .nav-itens .nav-link{
    padding: 3rem 1rem;
    font-size: 1.5rem;
    position: relative;
    font-family: var(--Abel);
}

nav .nav-itens .nav-link:hover{
    background-color: var(--texto-claro);
}
nav .nav-itens .nav-link:hover a{
    color: var(--white);
}
.nav .nav-brand a{
   font-size: 2.5rem;
   padding: 2rem 0;
   display: block;
   font-family: var(--lexend);

}



/*-----X---- navbar -----X----*/

/* ------------ botão voltar ao topo ----------- */

#btnTop{
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    background: var(--white);
    border: none;
    border-radius: 50vh;
    display: none;
}

/* -----X------ botão voltar ao topo -----X----- */


/* ------------ fonte dos titulos e parágrafos-----------*/

.titulos{
    font-family: var(--lexend);
}

.cor{
    font-family: var(--Abel);
    text-align: justify;
}

span {
    font-family: var(--Abel);
    font-weight: bold;
    font-size: 20px;
}
/* ------------ fonte dos paragrafos -----------*/

/*            Janela de exibição em 800px          */

@media only screen and (max-width: 800px){
    .nav .nav-menu,.nav .nav-itens{
        flex-direction: column;
    }

    .nav .toggle-collapse{
        display: initial;
    }

    #inicio {
        margin: 0 20px 0 20px;
    }

    #botoes-grid {
        gap: 10px;
    }

    #botoes-grid li {
        width: 125px;

        display: flex;
        flex-direction: column;
        columns: 2;
    }

    #botoes-grid li img {
        padding: 10px 0 10px 0;
    }

    #botoes-grid li span {
        padding: 0;
    }

    #botoes-grid li span h2 {
        font-size: 18px;
    }

    #botoes-grid li span p {
        display: none;
    }

    #botoes-grid li .button-more {
        height: 35px;

        margin-top: 5px;
    }

    #sintomas #items-grid {
        gap: 80px 10px;
        margin-bottom: 100px;
    }

    #sintomas #items-grid li {
        width: 125px;
        height: 100px;
    }

    #contagio {
        margin-top: 80px;
    }

    .conteudo {
        margin: 30px 20px 30px 20px;
    }
}

/*    X        Janela de exibição em 800px     X     */
