<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coronavírus</title>
    <link rel="stylesheet" href="../style/main.css">
    <link rel="stylesheet" href="../style/home.css">
</head>
<body>
    <div id="topo">
        <img src="../assets/corona.png" alt="Coronavírus" width="200px">
        <h2>CORONAVÍRUS</h2>
        <p>
            O Coronavírus, causador da pandemia global, pertence a uma família de vírus (CoV) que já circula no Brasil. 
            Os vírus dessa família podem causar desde resfriados comuns a doenças mais graves, como a Síndrome Aguda Respiratória Severa (SARS) 
            e a Síndrome Respiratória do Oriente Médio (MERS).
            O Novo Coronavírus recebeu a denominação SARS-CoV-2 pela Organização Mundial da Saúde (OMS) 
            e a doença que ele provoca tem a denominação COVID-19.
        </p>
        <img src="../assets/seta.png" alt="Seta" width="50px">
    </div>

    <div id="sintomas">
        <h1>SINTOMAS</h1>

        <div id="items-box">
            <h2>COMUNS</h2>
            <div id="items-grid">
                <li>
                    <img src="" alt="Febre">
                    <span>Febre</span>
                </li>

                <li>
                    <img src="" alt="Tosse Seca">
                    <span>Tosse Seca</span>
                </li>

                <li>
                    <img src="" alt="Cansaço">
                    <span>Cansaço</span>
                </li>
            </div>
        </div>
    </div>
</body>
</html>
